<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
   Simple Angular CRUD
  </a>
</nav>

<div class="container">
  <div class="row">

    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li 
          *ngFor="let Empleado of EmpleadoArray"
          class="list-group-item list-group-item-action"
          (click)="openForEdit(Empleado)"
          [class.active]="Empleado == selectedEmpleado"
          >
            <span class="badge badge-primary">
              {{Empleado.id}}
            </span>
            {{Empleado.name}} - {{Empleado.country | uppercase }}
        </li>
      </ul>

      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Registre un nuevo empleado
          </div>

          <div class="form-group">
            <input type="text" [(ngModel)]="selectedEmpleado.name" placeholder="Inserta un nombre..." class="form-group">
          </div>
          <div class="form-group">
            <input type="text" [(ngModel)]="selectedEmpleado.country" placeholder="Inserta país..." class="form-group">
          </div>

        
            <button (click)="addOrEdit()" class="btn btn-primary">
              Submit
            </button>

            <button *ngIf="selectedEmpleado.id != 0" class="btn btn-danger" (click)="delete()">
              Delete
            </button>

        </div>
      </div>

    </div>

    <div class="col-md-4">
        <img
          width="300"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        />
    </div>

  </div><!--row-->
</div><!--container-->

  